{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Best Booking{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'booking/styles.css' %}" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" style="color: blue" href="#">Booking</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" style="color: blue" href="{% url 'index' %}">Search</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" style="color: blue" href="{% url 'us_booking' %}">{{ user.username }}' Booking</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" style="color: blue" href="{% url 'us_old_booking' %}">History of {{ user.username }}' Booking</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" style="color: blue" href="{% url 'us_hotels' %}">{{ user.username }}' Hotels</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" style="color: blue" href="{% url 'create' %}">Add a New Hotel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: blue" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" style="color: blue" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: blue" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
		
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
{% block script %}
    <script src="{% static 'booking/comment.js' %}"></script>
	<script src="{% static 'booking/allcomments.js' %}"></script>
	<script src="{% static 'booking/rat.js' %}"></script>
{% endblock %}
</html>