{% extends "booking/layout.html" %}
{% load static %}


{% block body %}

<div class="ht">
<div class="container">

<div class="all">
<h2>My Hotels</h2>
</div>

</div>


{% for item in us_hotels %}

<div class="container">

<div class="cont_uh">

<div class="row">

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

<p><b>Hotel:</b></p>
<p>"{{ item.hot_name }}" in {{ item.city }}</p>

<p>Price per Day, dollars: {{ item.price }}</p>
<p>Rating: {{ item.rating }}</p>
<p>Number of Places: {{ item.free_place }}</p>
<p><b>About the Hotel:</b></p>
<p>{{ item.description }}</p>

</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-0">

<p>
<img src="{{item.photo.url}}" />
</p>

</div>


</div>

<div>

<h5><a href="{% url 'edit_hot' item.id%}">Edit</a></h5>

</div>

</div>

</div>

{% endfor %}

<div class="container">
{% if not us_hotels %}
	<h5>You don't have any hotels. Would you like to add a hotel? <a href="{% url 'create' %}">Add!</a></h5>
{%endif%}
</div>

</div>
{% endblock %}